.bg-light-blue {
	background-color: #e3f2fd;
}

.container-fluid {
	width: 95%
}

nav {
	border-radius: 5px;
}

.btn-user-category:hover {
	cursor: default !important;
	color: #337CF6;
	background-color: inherit;
}

.selected {
	color: #222529;
}

.img-main {
	width: 100%;
}

.book-list-item {
	cursor: pointer;
}

.book-list-item:hover {
	background-color: #FAFAFA;
}

.book-tr {
	cursor: pointer;
}

.ReactModal__Content {
  opacity: 0;
  transition: opacity 400ms;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 400ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
  transition: opacity 400ms;
}
